body {
  background-color: #ffffff;
  margin: 5%;
}

.flex-display {
  display: flex;
}

#header {
  align-items: center;
}

#title {
  text-align: center;
}

#title1 {
  text-align: center;
}

#mainContainer{
    display: flex;
    flex-direction: column;
}

